openapi: 3.1.0
info:
  title: Edamam Nutrition Analysis API
  description: |
    REST API for Edamam Nutrition Analysis. Submit a full recipe for nutrition
    analysis or a single ingredient line and receive comprehensive nutritional
    information including calories, macronutrients, and micronutrients.
    Requests are authenticated with `app_id` and `app_key` query parameters
    issued from the Edamam developer dashboard. This specification is a
    best-effort, documentation-derived description and may omit fields.
  version: 1.0.0
  contact:
    name: Edamam
    url: https://developer.edamam.com/edamam-docs-nutrition-api
servers:
  - url: https://api.edamam.com
    description: Production
security:
  - AppCreds: []
paths:
  /api/nutrition-details:
    post:
      summary: Full recipe nutrition analysis
      operationId: analyzeRecipe
      parameters:
        - $ref: '#/components/parameters/AppId'
        - $ref: '#/components/parameters/AppKey'
        - in: query
          name: force
          schema:
            type: boolean
          description: Force re-evaluation even if a cached result exists.
        - in: query
          name: beta
          schema:
            type: boolean
          description: Enable recipe classification beta features.
        - in: header
          name: Edamam-Account-User
          schema:
            type: string
          description: Active user identifier for tracking.
        - in: header
          name: Content-Language
          schema:
            type: string
            enum: [ar, de, en, es, fr, it, nl, pt, ru, tr]
        - in: header
          name: If-None-Match
          schema:
            type: string
          description: ETag for caching previously analyzed recipes.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecipeRequest'
      responses:
        '200':
          description: Full nutrition analysis
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NutritionResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          description: Could not parse one or more ingredients
  /api/nutrition-data:
    get:
      summary: Single ingredient line analysis
      operationId: analyzeIngredient
      parameters:
        - $ref: '#/components/parameters/AppId'
        - $ref: '#/components/parameters/AppKey'
        - in: query
          name: ingr
          required: true
          schema:
            type: string
          description: Ingredient text to analyze, e.g. `1 cup of rice`.
        - in: query
          name: nutrition-type
          schema:
            type: string
            enum: [cooking, logging]
            default: cooking
        - in: header
          name: Edamam-Account-User
          schema:
            type: string
      responses:
        '200':
          description: Per-ingredient nutrition data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NutritionResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  securitySchemes:
    AppCreds:
      type: apiKey
      in: query
      name: app_key
      description: App key issued by Edamam. Must be sent with the matching `app_id` query parameter.
  parameters:
    AppId:
      in: query
      name: app_id
      required: true
      schema:
        type: string
      description: Application identifier from the Edamam developer dashboard.
    AppKey:
      in: query
      name: app_key
      required: true
      schema:
        type: string
      description: Application key from the Edamam developer dashboard.
  responses:
    Unauthorized:
      description: Invalid or missing app_id / app_key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    RecipeRequest:
      type: object
      required:
        - ingr
      properties:
        title:
          type: string
        prep:
          type: string
        yield:
          type: string
        ingr:
          type: array
          items:
            type: string
        url:
          type: string
          format: uri
        summary:
          type: string
    Nutrient:
      type: object
      properties:
        label:
          type: string
        quantity:
          type: number
        unit:
          type: string
    NutritionResponse:
      type: object
      properties:
        uri:
          type: string
        yield:
          type: number
        calories:
          type: integer
        totalWeight:
          type: number
        dietLabels:
          type: array
          items:
            type: string
        healthLabels:
          type: array
          items:
            type: string
        cautions:
          type: array
          items:
            type: string
        totalNutrients:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Nutrient'
        totalDaily:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Nutrient'
        ingredients:
          type: array
          items:
            type: object
            additionalProperties: true
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
